<div class="df jcc aic bg-primary-200 py24 mb64">
        <p class="h4 mr24 h5-sm mr16-sm">加入會員取得 9 折優惠</p>
        <button type="button" class="btn btn-black">馬上註冊</button>
    </div>

    <!-- 頁尾清單 -->
    <nav class="container df aic jcsb mb24 py32-sm db-sm">
        <img class="mb8-sm" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e1ad10bd2260f80c5f65be5bfc5042790a261115/2025-week1/logo.svg" alt="logo">

        <ul class="df aic db-sm px12-sm ">
            <li class="py12 mr40 mb4-sm mr0-sm"><a href="product_list.html">商品列表</a></li>
            <li class="py12"><a href="story.html">品牌故事</a></li>
        </ul>
    </nav>
    
    <!-- 頁尾 -->
    <div class="text-sm text-neutral-600 footer">
        <p class="mb4">Copyright ©2025 URBNSTYLE</p>
        <p>All Rights Reserved.</p>
    </div>