<footer>
  <div class="container py-64 py-md-32">
    <div class="d-flex ali-cent just-between d-sm-block">
      <a href="index.html">
        <img src="../assets/images/logo.svg" alt="URBNSTEP" />
      </a>
      <ul class="d-flex d-sm-block px-md-12">
        <li class="mr-40 py-12">
          <a href="products.html">商品列表</a>
        </li>
        <li class="py-12 mb-md-0">
          <a href="story.html">品牌故事</a>
        </li>
      </ul>
    </div>
    <div class="copy text-color text-center mt-24">
      <p>Copyright ©2025 URBNSTYLE</p>
      <p class="mt-4">All Rights Reserved.</p>
    </div>
  </div>
</footer>
