<nav class="container py16 df aic jcsb">
        <ul class="df aic">
            <li class="mr48"><a href="index.html"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e1ad10bd2260f80c5f65be5bfc5042790a261115/2025-week1/logo.svg" alt="logo"></a></li>
        
            <li class="py12 mr40  d-none-sm"><a href="product_list.html">商品列表</a></li>
            <li class="py12  d-none-sm"><a href="story.html">品牌故事</a></li>

        </ul>
        <a class="p12" href="#"><i class="bi bi-person"></i></a>
    </nav>