<nav class="navbar container">
  <ul class="navbar py-16">
    <li class="mr-48">
      <a href="index.html"
        ><img src="../assets/images/logo.svg" alt="URBNSTEP"
      /></a>
    </li>
    <li class="mr-40">
      <a href="products.html" class="py-12 d-sm-none">商品列表</a>
    </li>
    <li><a href="story.html" class="py-12 d-sm-none">品牌故事</a></li>
  </ul>
  <a href="#"><i class="bi bi-person pd-12"></i></a>
</nav>
