.breadcrumb-item + .breadcrumb-item::before{
	content: '/';
	padding-right: 12px;
	padding-left: 12px;
	color: $neutral-300;
	font-weight: 700;
}


.breadcrumb-item{
	font-weight: 500;
}

.breadcrumb-link{
	color: $neutral-600;
}

@media(max-width:767px){
	.breadcrumb-item + .breadcrumb-item::before{
	padding: 0 8px;
	}
	.breadcrumb-item{
		font-size: 14px;
	}
}
