.btn {
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media (max-width: 576px) {
  .btn {
    padding: 8px 16px;
  }
}

.btn-dark {
  background-color: var(--neutral-900);
  color: var(--neutral-0);
  &:hover {
    background-color: var(--neutral-700);
    color: var(--neutral-0);
  }
}

.btn-light {
  border: 1px solid var(--neutral-900);
}
