/* 通用樣式 */
.container{
	max-width: 1320px;
	/* width: 1296px; */
	/* 1920-312*2扣掉左右留白 */
	margin: 0 auto;
	padding-right: 12px;
	padding-left: 12px;
}

.colx1{
	padding-left: 12px;
	padding-right: 12px;
	/* 格線的一半寬度 */
	width: calc(100%/12);
	/* 內容共有12欄 */
}

.colx2{
	padding-left: 12px;
	padding-right: 12px;
	/* 格線的一半寬度 */
	width: calc(100%/12*2);
	/* 內容共有12欄 */
}

.colx3{
	padding-left: 12px;
	padding-right: 12px;
	/* 格線的一半寬度 */
	width: calc(100%/12*3);
	/* 內容共有12欄 */
}

.colx4{
	padding-left: 12px;
	padding-right: 12px;
	/* 格線的一半寬度 */
	width: calc(100%/12*4);
	/* 內容共有12欄 */
}

.colx5{
	padding-left: 12px;
	padding-right: 12px;
	/* 格線的一半寬度 */
	width: calc(100%/12*5);
	/* 內容共有12欄 */
}

.colx6{
	padding-left: 12px;
	padding-right: 12px;
	/* 格線的一半寬度 */
	width: calc(100%/12*6);
	/* 內容共有12欄 */
}


.colx7{
	padding-left: 12px;
	padding-right: 12px;
	/* 格線的一半寬度 */
	width: calc(100%/12*7);
	/* 內容共有12欄 */
}

.colx8{
	padding-left: 12px;
	padding-right: 12px;
	/* 格線的一半寬度 */
	width: calc(100%/12*8);
	/* 內容共有12欄 */
}


.colx10{
	padding-left: 12px;
	padding-right: 12px;
	/* 格線的一半寬度 */
	width: calc(100%/12*10);
	/* 內容共有12欄 */
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
	/* 因為col會左右padding往外擴，所以兩側row要加負margin往內縮 */	
}


@media(max-width:767px){
	.row-md{
		margin-right: -6px;
		margin-left: -6px;
	}
	.colx1-md{
		padding-right: 6px;
		padding-left: 6px;
		width: calc(100%/4);
	}

	.colx2-md{
		padding-right: 6px;
		padding-left: 6px;
		width: calc(100%/4*2);
	}

	.colx3-md{
		padding-right: 6px;
		padding-left: 6px;
		width: calc(100%/4*3);
	}

	.colx4-md{
		padding-right: 6px;
		padding-left: 6px;
		width: calc(100%/4*4);
	}
	.fdr-column-md{
		flex-direction: column;
	}
	.fwr-nowrap-md{
		flex-wrap: nowrap;
	}
	.gap4-md{
		gap: 4px;
	}
	.gap8-md{
		gap: 8px;
	}
}

@media(max-width: 767px){
	.overflow-x-auto-md{
		overflow-x: auto;
	}
}


.df{
	display: flex;
}

.d-none{
	display: none;
}

@media(max-width:767px){
	.db-md{
		display: block;
	}
	.df-md{
		display: flex;
	}
	.d-none-md{
		display: none;
	}
}

@media(max-width:576px){
	.db-sm{
		display: block;
	}
	.d-none-sm{
		display: none;
	}
}

.jcsb{
	justify-content: space-between;
}

.jcc{
	justify-content: center;
}

.aic{
	align-items: center;
}

.fw{
	flex-wrap: wrap;
}

.tac{
	text-align: center;
}




/* 字體 */

.display-1{
	font-size: 64px;
	line-height: 1.2;
	font-weight: 700;
}

.display-2{
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
}

.h1{
	font-size: 40px;
	line-height: 1.2;
	font-weight: 700;
}

.h2{
	font-size: 32px;
	line-height: 1.2;
	font-weight: 700;
}

.h3{
	font-size: 28px;
	line-height: 1.2;
	font-weight: 700;
}

.h4{
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
}

.h5{
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
}

.h6{
	font-size: 16px;
	line-height: 1.2;
	font-weight: 700;
}

@media(max-width:1076px){
	.h3-resize{
		font-size: 18px;
	}
}

@media(max-width:767px){
	.h1-md{
		font-size: 40px;
	}
	.h2-md{
		font-size: 32px;
	}
	.h3-md{
		font-size: 28px;
	}
	.h4-md{
		font-size: 24px;
	}
	.h5-md{
		font-size: 20px;
	}
	.h6-md{
		font-size: 16px;
	}
}


@media(max-width:576px){
	.display-2-sm{
		font-size: 48px;
	}
	.h3-sm{
		font-size: 28px;
	}
	.h4-sm{
		font-size: 24px;
	}
	.h5-sm{
		font-size: 20px;
	}
	.h6-sm{
		font-size: 16px;
	}
}

.text-sm{
	font-size: 14px;
	font-weight: 400;
}

.text-lg{
	font-size: 20px;
}

@media(max-width:767px){
	.text-md-md{
		font-size: 16px;
	}

	.text-sm-sm{
	font-size: 14px;
}
}

/* 字體顏色 */

.text-white{
	color: $neutral-0;
}

.text-primary-300{
	color: $primary-300;
}

.text-primary-400{
	color: $primary-400;
}

.text-neutral-500{
	color: $neutral-500;
}

.text-neutral-600{
	color: $neutral-600;
}

.text-danger{
	color: $danger-300
}

/* 背景顏色 */

.bg-primary-100{
	background-color: $primary-100;
}

.bg-primary-200{
	background-color: $primary-200;
}

.bg-primary-100{
	background-color: $primary-100;
}

.bg-neutral-100{
	background-color: $primary-100;
}

.bg-neutral-900{
	background-color: $neutral-900;
}

/* 平移 */


.p12{
	padding: 12px;
}

.p32{
	padding: 32px;
}

.px24{
	padding-right: 24px;
	padding-left: 24px;
}


.pr8{
	padding-right: 8px;
}

.pb48{
	padding-bottom: 48px;
}

.py8{
	padding-top: 8px;
	padding-bottom: 8px;
}

.py12{
	padding-top: 12px;
	padding-bottom: 12px;
}


.py16{
	padding-bottom: 16px;
	padding-top: 16px;
}

.py24{
	padding-bottom: 16px;
	padding-top: 16px;
}

.py32{
	padding-bottom: 32px;
	padding-top: 32px;
}

.py48{
	padding-bottom: 64px;
	padding-top: 64px;
}

.py64{
	padding-bottom: 64px;
	padding-top: 64px;
}

@media(max-width:767px){
	.px12-md{
		padding-right: 12px;
		padding-left: 12px;
	}
	.pb32-md{
		padding-bottom: 32px;
	}
	.p24-md{
		padding: 24px;
	}
	.py0-md{
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.py16-md{
		padding-top: 16px;
		padding-bottom: 16px;
	}
	.py24-md{
		padding-top: 24px;
		padding-bottom: 24px;
	}
	/* .py16-md{
		padding: 16px 0;
	} */
	.py32-md{
		padding-top: 32px;
		padding-bottom: 32px;
	}
	/* .py32-md{
		padding: 32px 0;
	} */
	.py40-md{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.d-none-md{
		display: none;
	}
}

@media(max-width:576px){
	.px12-sm{
		padding-right: 12px;
		padding-left: 12px;
	}
	.py12-sm{
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.py32-sm{
		padding-top: 32px;
		padding-bottom: 32px;
	}
	.px12-sm{
		padding-right: 12px;
		padding-left: 12px;
	}
	
	
}

.mr8{
	margin-right: 8px;
}

.mr12{
	margin-right: 12px;
}

.mr24{
	margin-right: 24px;
}


.mr40{
	margin-right: 40px;
}

.mr48{
	margin-right: 48px;
}

.mb4{
	margin-bottom: 4px;
}

.mb8{
	margin-bottom: 8px;
}


.mb12{
	margin-bottom: 12px;
}

.mb16{
	margin-bottom: 16px;
}

.mb24{
	margin-bottom: 24px;
}

.mb32{
	margin-bottom: 32px;
}

.mb40{
	margin-bottom: 40px;
}

.mb48{
	margin-bottom: 48px;
}

.mb64{
	margin-bottom: 64px;
}

@media(max-width:767px){
	.mb0-md{
		margin-bottom: 0px;
	}
	
	.mb8-md{
		margin-bottom: 8px;
	}

	
	.mb12-md{
		margin-bottom: 12px;
	}

	.mb16-md{
		margin-bottom: 16px;
	}

	.mb24-md{
		margin-bottom: 24px;
	}


	.mb32-md{
		margin-bottom: 32px;
	}
}

@media(max-width:576px){
	.mr0-sm{
		margin-right: 0;
	}
	.mr16-sm{
		margin-right: 16px;
	}
	.mb4-sm{
		margin-bottom: 4px;
	}
	.mb8-sm{
		margin-bottom: 8px;
	}
	.mb32-sm{
		margin-bottom: 32px;
	}
}

.g8{
	gap: 8px;
}

.border-none{
	border: none;
}
