/* 通用色碼 */

:root {
  --primary-100: #f5fee7;
  --primary-200: #e8fec5;
  --primary-300: #c0fa73;
  --primary-400: #57a203;
  --primary-500: #477a11;
  --neutral-0: #fff;
  --neutral-100: #f8f9fa;
  --neutral-200: #e9ecef;
  --neutral-300: #dee2e6;
  --neutral-400: #ced4da;
  --neutral-500: #adb5bd;
  --neutral-600: #6c757d;
  --neutral-700: #495057;
  --neutral-800: #343a40;
  --neutral-900: #212529;
  --danger-100: #fcf1f1;
  --danger-200: #eba7a7;
  --danger-300: #d74f7f;
  --warnrig-100: #fef6ec;
  --warnrig-200: #f9c588;
  --warnrig-300: #f38b12;
  --success-100: #eff8f4;
  --success-200: #9ad1ba;
  --success-300: #36a375;
  --info-100: #eef5fc;
  --info-200: #97c3ed;
  --info-300: #3087db;
}
