<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="container py32 mb48 py16-md">

        <!-- 麵包屑 -->
        <nav class="mb24 mb12-md">
        <!-- <nav class="mb24 mb12-md px12-md"> -->
            <ol class="df">
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="index.html">首頁</a></li>
                <li class="breadcrumb-item">所有商品</li>
            </ol>
        </nav>
    
    <h1 class="h3 mb24 mb12-md">所有商品</h1>
    <!-- <h1 class="h3 mb24 mb12-md px12-md">所有商品</h1> -->
    <div class="row row-md">
        <!-- 清單 -->
        <div class="colx2 d-none-md">
            <nav>
                <ul class="category">
                    <li class="mb16 active py12"><a href="#">所有商品</a></li>
                    <li class="mb16 py12"><a href="#">慢跑鞋</a></li>
                    <li class="mb16 py12"><a href="#">滑板鞋</a></li>
                    <li class="mb16 py12"><a href="#">厚底鞋</a></li>
                    <li class="mb16 py12"><a href="#">限定 / 聯名企劃</a></li>
                    <!-- <li class="mb16 py12"><a class="py12" href="#">限定 / 聯名企劃</a></li> -->
                </ul>
            </nav>
        </div> 

        <!-- 產品列表 -->
        <div class="colx10 colx4-md">
        <!-- <div class="colx10 colx4-md px12-md"> -->
            <div class="row row-md">
                <div class="colx4 colx2-md" >
                    <div class="mb48 mb24-md">
                        <a href="product.html">
                            <img class="mb12 mb8-md" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product.png?raw=true" alt="PLATFORM 404">
                            <h2 class="h6 mb4 mb0-md">PLATFORM 404</h2>
                            <p>NT$2,600</p>
                        </a>
                    </div>
                </div>

                <div class="colx4 colx2-md">
                    <div class="mb48 mb24-md">
                        <a href="product.html">
                            <img class="mb12 mb8-md" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-1.png?raw=true" alt="PLATFORM 404">
                            <h2 class="h6 mb4 mb0-md">PLATFORM 404</h2>
                            <p>NT$2,600</p>
                        </a>
                    </div>
                </div>


                <div class="colx4 colx2-md">
                    <div class="mb48 mb24-md">
                        <a href="product.html">
                            <img class="mb12 mb8-md" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-2.png?raw=true" alt="VM001">
                            <h2 class="h6 mb4 mb0-md">VM001</h2>
                            <p>NT$2,600</p>
                        </a>
                    </div>
                </div>


                <div class="colx4 colx2-md">
                    <div class="mb48 mb24-md">
                        <a href="product.html">
                            <img class="mb12 mb8-md" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true" alt="Melty Kiss">
                            <h2 class="h6 mb4 mb0-md">Melty Kiss</h2>
                            <p>NT$4,000</p>
                        </a>
                    </div>
                </div>


                <div class="colx4 colx2-md">
                    <div class="mb48 mb24-md">
                        <a href="product.html">
                            <img class="mb12 mb8-md" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true" alt="BOOMBLOK">
                            <h2 class="h6 mb4 mb0-md">BOOMBLOK</h2>
                            <p>NT$3,200</p>
                        </a>
                    </div>
                </div>


                <div class="colx4 colx2-md">
                    <div class="mb48 mb24-md">
                        <a href="product.html">
                            <img class="mb12 mb8-md" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-5.png?raw=true" alt="BOOMBLOK">
                            <h2 class="h6 mb4 mb0-md">BOOMBLOK</h2>
                            <p>NT$3,200</p>
                        </a>
                    </div>
                </div>


                <div class="colx4 colx2-md">
                    <div class="mb48 mb24-md">
                        <a href="product.html">
                            <img class="mb12 mb8-md" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true" alt="R:UNER">
                            <h2 class="h6 mb4 mb0-md">R:UNER</h2>
                            <p>NT$4,000</p>
                        </a>
                    </div>
                </div>


                <div class="colx4 colx2-md">
                    <div class="mb48 mb24-md">
                        <a href="product.html">
                            <img class="mb12 mb8-md" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-7.png?raw=true" alt="Sugar Snap">
                            <h2 class="h6 mb4 mb0-md">Sugar Snap</h2>
                            <p>NT$4,000</p>
                        </a>
                    </div>
                </div>


                <div class="colx4 colx2-md">
                    <div class="mb48 mb32-md">
                        <a href="product.html">
                            <img class="mb12 mb8-md" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-8.png?raw=true" alt="Neofoam">
                            <h2 class="h6 mb4 mb0-md">Neofoam</h2>
                            <p>NT$4,000</p>
                        </a>
                    </div>
                </div>

                <div class="colx4 colx2-md d-none db-md">
                    <div class="mb48 mb32-md">
                        <a href="product.html">
                            <img class="mb12 mb8-md" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-9.png?raw=true" alt="Neofoam">
                            <h2 class="h6 mb4 mb0-md">Neofoam</h2>
                            <p>NT$4,000</p>
                        </a>
                    </div>
                </div>




                

            </div>

            <!-- 分頁 -->
            <ul class="df jcc aic">
                <li class="mr12 page">
                    <button type="button" class="btn" disabled>
                    <i class="bi bi-chevron-left"></i>
                </button></li>

                <li class="mr8 page">
                    <button type="button" class="btn active">
                    1
                </button></li>

                <li class="mr8 page">
                    <button type="button" class="btn">
                    2
                </button></li>

                <li class="mr8 page">
                    <button type="button" class="btn">
                    3
                </button></li>

                <li class="mr8 page">
                    <button type="button" class="btn">
                    ...
                </button></li>

                <li class="mr8 page">
                    <button type="button" class="btn">
                    10
                </button></li>

                <li class="mr12 page">
                    <button type="button" class="btn">
                    <i class="bi bi-chevron-right"></i>
                </button></li>

            </ul>
        </div>
    </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
