<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>URBNSTEP | 商品列表</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
</head>
<body>
  <%- include('./layout/header'); -%>

  <main class="container py-32 mb-48">

    <!-- 麵包屑 -->
    <nav aria-label="breadcrumb">
      <ol class="d-flex">
        <li class="breadcrumb-item"><a href="#" class="text-color">首頁</a></li>
        <li class="breadcrumb-item text-color">女鞋</li>
        <li class="breadcrumb-item">所有商品</li>
      </ol>
    </nav>

    <div class="header">
      <h1 class="h3 my-24 py-7 mt-sm-12">女鞋</h1>
    </div>

    <section class="row mt-sm-12">

      <!-- 側邊分類 -->
      <aside class="col-2 d-md-none">
        <nav>
          <ul>
            <li class="mb-32"><a href="#" class="py-8 active">所有商品</a></li>
            <li class="mb-32"><a href="#" class="py-12">慢跑鞋</a></li>
            <li class="mb-32"><a href="#" class="py-12">滑板鞋</a></li>
            <li class="mb-32"><a href="#" class="py-12">厚底鞋</a></li>
            <li class="mb-32"><a href="#" class="py-12">限定 / 聯名企劃</a></li>
          </ul>
        </nav>
      </aside>

      <!-- 商品列表 -->
      <section class="col-10 col-md-4">
        <div class="row">

          <!-- 商品卡片（每個商品都用 article+figure 包裝） -->
          <article class="col-4 card col-md-2">
            <figure class="mb-48 mb-sm-24">
              <a href="product.html">
                <img src="../assets/images/product.png" alt="PLATFORM 404" class="mb-12">
                <h2 class="mb-4">PLATFORM 404</h2>
                <p>NT$2,600</p>
              </a>
            </figure>
          </article>

          <article class="col-4 card col-md-2">
            <figure class="mb-48 mb-sm-24">
              <a href="#">
                <img src="../assets/images/product-1.png" alt="PLATFORM 404" class="mb-12">
                <h2 class="mb-4">PLATFORM 404</h2>
                <p>NT$2,600</p>
              </a>
            </figure>
          </article>

          <article class="col-4 card col-md-2">
            <figure class="mb-48 mb-sm-24">
              <a href="#">
                <img src="../assets/images/product-2.png" alt="VM001" class="mb-12">
                <h2 class="mb-4">VM001</h2>
                <p>NT$2,600</p>
              </a>
            </figure>
          </article>

          <article class="col-4 card col-md-2">
            <figure class="mb-48 mb-sm-24">
              <a href="#">
                <img src="../assets/images/product-3.png" alt="Melty Kiss" class="mb-12">
                <h2 class="mb-4">Melty Kiss</h2>
                <p>NT$4,000</p>
              </a>
            </figure>
          </article>

          <article class="col-4 card col-md-2">
            <figure class="mb-48 mb-sm-24">
              <a href="#">
                <img src="../assets/images/product-4.png" alt="BOOMBLOK" class="mb-12">
                <h2 class="mb-4">BOOMBLOK</h2>
                <p>NT$3,200</p>
              </a>
            </figure>
          </article>

          <article class="col-4 card col-md-2">
            <figure class="mb-48 mb-sm-24">
              <a href="#">
                <img src="../assets/images/product-5.png" alt="BOOMBLOK" class="mb-12">
                <h2 class="mb-4">BOOMBLOK</h2>
                <p>NT$3,200</p>
              </a>
            </figure>
          </article>

          <article class="col-4 card col-md-2">
            <figure class="mb-48 mb-sm-24">
              <a href="#">
                <img src="../assets/images/product-6.png" alt="R:UNER" class="mb-12">
                <h2 class="mb-4">R:UNER</h2>
                <p>NT$4,000</p>
              </a>
            </figure>
          </article>

          <article class="col-4 card col-md-2">
            <figure class="mb-48 mb-sm-24">
              <a href="#">
                <img src="../assets/images/product-7.png" alt="Sugar Snap" class="mb-12">
                <h2 class="mb-4">Sugar Snap</h2>
                <p>NT$4,000</p>
              </a>
            </figure>
          </article>

          <article class="col-4 card col-md-2">
            <figure class="mb-48">
              <a href=".product1.html">
                <img src="../assets/images/product-8.png" alt="PLATFORM 404" class="mb-12">
                <h2 class="mb-4">Neofoam</h2>
                <p>NT$4,000</p>
              </a>
            </figure>
          </article>

          <article class="col-4 card col-md-2 d-none d-md-block">
            <figure class="mb-48">
              <a href=".product1.html">
                <img src="../assets/images/product-9.png" alt="Buttermood" class="mb-12">
                <h2 class="mb-4">Buttermood</h2>
                <p>NT$4,000</p>
              </a>
            </figure>
          </article>

        </div>

        <!-- 分頁 -->
        <nav class="page-list mt-md-32" aria-label="頁碼切換">
          <ul class="page">
            <li class="mr-12"><button class="btn" disabled><i class="bi bi-chevron-left neu-900"></i></button></li>
            <li class="mr-8"><button class="btn active">1</button></li>
            <li class="mr-8"><button class="btn">2</button></li>
            <li class="mr-8"><button class="btn">3</button></li>
            <li class="mr-8"><button class="btn">...</button></li>
            <li class="mr-12"><button class="btn">10</button></li>
            <li><button class="btn"><i class="bi bi-chevron-right"></i></button></li>
          </ul>
        </nav>
      </section>
    </section>
  </main>

  <%- include('./layout/joinbar'); -%>
  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>
</html>
